header
    nav.navbar.navbar-dark.bg-primary.navbar-expand-sm
        a.navbar-brand.p-0.ms-3(href='/')
            h3 Pulse Beat
        button.navbar-toggler(data-bs-toggle='collapse', data-bs-target='#navbarCollapse')
            span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.ms-auto
                li.nav-item
                    a.nav-link.text-light(href='/orders') Orders
                li.nav-item
                    a.nav-link.text-light(href='/warranty') Claim History
                li.nav-item
                    if username
                        .dropdown.user-link
                            button.btn(type='button', data-bs-toggle='dropdown')
                                .rounded-circle.d-flex.justify-content-center.align-items-center.user
                                    i.fa.fa-user
                            ul.dropdown-menu.dropdown-menu-end
                                li.dropdown-item.username-profile #{username}
                                li
                                    a.dropdown-item(href='/logout') Logout
                    else
                        a.nav-link.text-light.signin(href='/signin') SignIn
